# See http://help.github.com/ignore-files/ for more about ignoring files.

# yarn for Ziv
yarn.lock
junit-test-report.xml

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# test
junit.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Env file
.env*
!.env.example
!.env.standalone
!.env.inter
.env

# test artifacts
/log
/artifact